<h2 mat-dialog-title>
  Update User Information
  <button mat-icon-button (click)="closeDialog()" class="close-button" aria-label="Close">
      <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content>

  <form [formGroup]="userForm">

    <mat-grid-list cols="2" rowHeight="100px">

      <!-- Personal Information -->
      <mat-grid-tile colspan="2">
        <h3>Personal Information</h3>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>person</mat-icon><mat-label>Name</mat-label>
          <input matInput formControlName="firstName" />
          <mat-error *ngIf="userForm.get('firstName')?.hasError('required') && userForm.get('firstName')?.touched">
            First name is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>face</mat-icon> <mat-label>Middle Name</mat-label>
          <input matInput formControlName="middleName" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>badge</mat-icon><mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error *ngIf="userForm.get('lastName')?.hasError('required') && userForm.get('lastName')?.touched">
            Last name is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>

        <div class="gender-icons">
          <mat-icon class="gender-icon" [ngClass]="{'selectedMale': userForm.get('gender')?.value === 'Male'}"
                    (click)="onGenderSelect('Male')">man</mat-icon>
          <mat-icon class="gender-icon" [ngClass]="{'selectedFemale': userForm.get('gender')?.value === 'Female'}"
                    (click)="onGenderSelect('Female')">woman</mat-icon>
        </div>        

        <mat-form-field appearance="fill" style="width: 50%;">
          <mat-icon matPrefix>calendar_today</mat-icon><mat-label>Age</mat-label>
          <input matInput type="number" formControlName="age" />
          <mat-error *ngIf="userForm.get('age')?.hasError('required') && userForm.get('age')?.touched">
              Age is required.
          </mat-error>
          <mat-error *ngIf="userForm.get('age')?.hasError('min') && userForm.get('age')?.touched">
              Age must be more than 20.
          </mat-error>
          <mat-error *ngIf="userForm.get('age')?.hasError('max') && userForm.get('age')?.touched">
              Age cannot be more than 50.
          </mat-error>
      </mat-form-field>                

    </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>alternate_email</mat-icon><mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched">
            Email is required.
          </mat-error>
          <mat-error *ngIf="userForm.get('email')?.hasError('email') && userForm.get('email')?.touched">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>call</mat-icon><mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
          <mat-error *ngIf="userForm.get('phone')?.hasError('required') && userForm.get('phone')?.touched">
            Address is required.
          </mat-error>
          <mat-error *ngIf="userForm.get('phone')?.hasError('minlength') && userForm.get('phone')?.touched">
            Please enter a valid Phone Number.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>contact_mail</mat-icon> <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
          <mat-error *ngIf="userForm.get('address')?.hasError('required') && userForm.get('address')?.touched">
            Address is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>badge</mat-icon><mat-label>SecurityNumber</mat-label>
          <input matInput formControlName="securityNumber" />
          <mat-error
            *ngIf="userForm.get('securityNumber')?.hasError('required') && userForm.get('securityNumber')?.touched">
            SecurityNumber is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>


      <!-- Account Information -->
      <mat-grid-tile colspan="2">
        <h3>Account Information</h3>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>person_check</mat-icon><mat-label>Username</mat-label>
          <input matInput formControlName="username" readonly/>
          <mat-error *ngIf="userForm.get('username')?.hasError('required') && userForm.get('username')?.touched">
            Username is required.
          </mat-error>
          <mat-error *ngIf="userForm.get('username')?.hasError('minlength') && userForm.get('username')?.touched">
            Username must be at least 6 characters.
          </mat-error>
        </mat-form-field>
        <button class="generate-btn" mat-icon-button disabled="true">
          <mat-icon>published_with_changes</mat-icon>
        </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>key</mat-icon><mat-label>Password</mat-label>
          <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" />
          <button mat-icon-button (click)="showPassword = !showPassword" matSuffix
            aria-label="Toggle Password Visibility">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched">
            Password is required.
          </mat-error>
          <mat-error *ngIf="userForm.get('password')?.hasError('minlength') && userForm.get('password')?.touched">
            Password must be at least 6 characters.
          </mat-error>
        </mat-form-field>
        <button class="generate-btn" mat-icon-button (click)="generatePassword()">
          <mat-icon>published_with_changes</mat-icon>
        </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>settings_accessibility</mat-icon> <mat-label>Roles</mat-label>
          <mat-select (selectionChange)="updateSelectedRoles($event.value)" formControlName="roles" multiple>
            <mat-option *ngFor="let role of availableRoles" [value]="role">{{ role }}</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('roles')?.hasError('required') && userForm.get('roles')?.touched">
            At least one role is required.
          </mat-error>
        </mat-form-field>
        <button class="generate-btn" mat-icon-button>
          <mat-icon>groups_2</mat-icon>
        </button>
        <!-- <div class="selected-roles">
                  {{ userForm.get('roles')?.value.join(', ') }} 
              </div> -->

      </mat-grid-tile>

      <mat-grid-tile>
        <mat-checkbox formControlName="accountNonExpired">Account Non Expired</mat-checkbox>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-checkbox formControlName="accountNonLocked">Account Non Locked</mat-checkbox>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-checkbox formControlName="credentialsNonExpired">Credentials Non Expired</mat-checkbox>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-checkbox formControlName="enabled">Account Enabled &nbsp;</mat-checkbox>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <div class="button-container">
          <button mat-raised-button color="accent" (click)="updateUser()">Update</button>
          <button mat-raised-button (click)="closeDialog()">Close</button>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

  </form>

</mat-dialog-content>