.dialog-title {
    background-color: #ca5323cc;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

mat-dialog-content, mat-dialog-actions {
    background: linear-gradient(to top left, #e3f2fd, #f5f5f5); // Gradient background
}

.close-button {
    color: red;
}


h3 {
    font-size: 20px;
    font-weight: bold;
}

mat-form-field {
    width: 80%;
}

.generate-btn {
    margin: 20px;
}