<mat-card class="home-container" appearance="outlined">

  <mat-card-header>
    <mat-card-title> <mat-icon>view_comfy_alt</mat-icon> Available Food Items</mat-card-title>
  </mat-card-header>

  <div class="content-container">

    <div class="row">

      <div [ngClass]="{'menu-column': true, 'full-width': !itemsSelected, 'partial-width': itemsSelected}">

        <mat-grid-list cols="2" rowHeight="80px">

          <!-- Search Bar -->
          <mat-grid-tile>

            <mat-form-field appearance="fill">

              <mat-icon matPrefix>search</mat-icon>
              <mat-label>Search Menu Item </mat-label>

              <input matInput [(ngModel)]="searchQuery" (input)="updateFilteredItems()" />

              <button mat-icon-button *ngIf="searchQuery" matSuffix (click)="clearSearch()">
                <mat-icon>clear</mat-icon>
              </button>


            </mat-form-field>

          </mat-grid-tile>

          <mat-grid-tile>
            <!-- Sort By Dropdown -->
            <mat-form-field appearance="fill">

              <mat-label> <mat-icon>swap_vert</mat-icon> Sort By</mat-label>

              <mat-select [(ngModel)]="sortOrder" (selectionChange)="sortItems()">

                <mat-option value="name"> <mat-icon>sort_by_alpha</mat-icon> Name</mat-option>
                <mat-option value="price"> <mat-icon>currency_rupee</mat-icon> Price</mat-option>

              </mat-select>

            </mat-form-field>

          </mat-grid-tile>

        </mat-grid-list>

        <div class="loading-container-mat-elevation-z8">
          @if (isLoading) {
          <div class="loading-container">
            @if (isLoading) {
            <mat-spinner></mat-spinner>
            }
          </div>

          }
        </div>

        <div>
          @if (isError) {
          <div class="error-message">
            @if (isError) {
            <p>{{ errorMessage }}</p>
            }
          </div>
          }
        </div>

        <mat-grid-list cols="3" rowHeight="350px" gutterSize="16px">

          <mat-grid-tile *ngFor="let item of paginatedItems">

            <mat-card class="menu-item">
              <!-- <img mat-card-image [src]="item.imagePath" alt="{{ item.item }}" /> -->
              <!-- Image card component with a fixed size -->
              <div class="menu-image">
                <img mat-card-image [src]="localImagePath" alt="{{ item.item }}"
                  style="width: 150px; height: 150px; object-fit: cover;" />
              </div>
              <mat-card-content>

                <mat-grid-list cols="2" rowHeight="50px">

                  <mat-grid-tile>
                    <p>{{ item.item }}</p>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <p>Price: {{ item.price | currency:'INR':'symbol':'1.0-2' }}</p>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="2">
                    <button mat-icon-button color="accent" (click)="openDesc(item)">
                      <mat-icon>description</mat-icon>
                    </button>

                    <button mat-icon-button color="primary" (click)="addToOrder(item.id ?? '')">
                      <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                  </mat-grid-tile>

                </mat-grid-list>

              </mat-card-content>

            </mat-card>

          </mat-grid-tile>

        </mat-grid-list>

      </div>

      <ng-container *ngIf="getSelectedItems().length > 0">

        <div class="selection-column">

          <h2 style="margin: 15px 15px;"><mat-icon>shopping_cart</mat-icon> Selected Food Items</h2>

          <!-- Card for Headings -->
          <mat-card class="heading-card">

            <mat-card-content>
              <h2 class="card-header">
                <span class="header-item">Item</span>
                <span class="header-item">Price</span>
                <span class="header-item">Quantity</span>
                <span class="header-item">Actions</span>
              </h2>
            </mat-card-content>

          </mat-card>

          <div *ngFor="let selectedItem of getSelectedItems(); let i = index;" class="selected-item-card">

            <mat-card>

              <mat-card-content class="card-content">

                <h3 class="itemName">{{ selectedItem!.item.item }}</h3>
                <p>{{ selectedItem!.item.price | currency:'INR':'symbol':'1.0-2' }}</p>

                <div class="card-action-buttons">

                  <button mat-button (click)="decreaseQuantity(selectedItem!.item.id ?? '')">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span class="quantity">{{ selectedItem!.quantity }}</span>

                  <button mat-button (click)="increaseQuantity(selectedItem!.item.id ?? '')">
                    <mat-icon>add</mat-icon>
                  </button>

                  <button mat-button color="warn" (click)="removeItem(selectedItem!.item.id ?? '')">
                    <mat-icon>delete</mat-icon>
                  </button>

                </div>

              </mat-card-content>

            </mat-card>

          </div>

          <strong>Grand Total: {{ grandTotal | currency:'INR':'symbol':'1.0-2' }}</strong>

          <div class="action-buttons">
            <button mat-raised-button color="primary" (click)="submitOrder()">Proceed</button>
            <button mat-raised-button color="warn" (click)="clearOrder()">Clear</button>
          </div>
        </div>

      </ng-container>

    </div>

    <div class="footer">

      <mat-paginator [length]="filteredItems.length" [pageSize]="pageSize"
        [pageSizeOptions]="[9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]" (page)="changePage($event)">
      </mat-paginator>

    </div>

  </div>

</mat-card>