<h2 mat-dialog-title>
    {{title}}
    <button mat-icon-button (click)="onClose()" style="float: right;">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-dialog-content>

    <div class="message">
        <mat-icon>check_circle</mat-icon>
        <h2>{{message}}</h2>
    </div>

    <div class="actions">
        <button *ngIf ="action == 'success'" mat-raised-button color="primary" type="button" (click)="onClose()">Close</button>
        <button *ngIf ="action == 'update'" mat-raised-button color="warn" type="button" (click)="onClose()">Close</button>
    </div>

</mat-dialog-content>