.login-card {
  width: 95%; // Make mat-card take full width
  border-radius: 10px; // Round corners
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); // Enhance shadow
  background: linear-gradient(to bottom right, #f5f5f5, #e3f2fd); // Gradient background
  margin: 20px;
}

.login-icon {
  color: #853de4;
}

.login-show-icon {
  color: #67f515;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; // Center vertically  

  form {
    width: 100%; // Full width for the form
    max-width: 400px; // Limit form width
    background: white; // White background for the form
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 

    &:hover {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #3f51b5; // Primary color for header
      font-weight: bold; // Bold header
    }

    mat-form-field {
      width: 100%; // Full width for form fields
      margin-bottom: 15px;

      &.mat-form-field-appearance-fill {
        background: rgba(255, 255, 255, 0.8); 
      }
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      
      button {
        width: 48%; // Equal width buttons
      }
    }
  }
}
