<mat-card appearance="outlined" class="login-card">

    <div class="login-container">

        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <h2>Login</h2>

            <mat-form-field appearance="fill">

                <mat-label matPrefix><mat-icon>person</mat-icon> Username</mat-label>                
                <input matInput formControlName="username" required />

                <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                    Username is required.
                </mat-error>

                <mat-error *ngIf="loginForm.get('username')?.hasError('minlength')">
                    Minimum length is 6 characters.
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label matPrefix><mat-icon>key</mat-icon> Password</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" required />
                <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                    <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                    Password is required.
                </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
                    Minimum length is 6 characters.
                </mat-error>
            </mat-form-field>
            
            <div class="button-container">
                <button mat-raised-button color="warn" type="button">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
            </div>

        </form>

    </div>

</mat-card>