<mat-card class="menu" appearance="outlined">    
    <mat-card-content>
        <section>            
            <div class="button-row">
              <div class="button-flex-container">
                <div class="button-container">
                  <button mat-fab extended (click)="addToMenu()">
                    <mat-icon>favorite</mat-icon>
                    New Item
                  </button>
                </div>
                <div class="button-container">
                  <button mat-fab extended (click)="modifyFromMenu()">
                    <mat-icon>favorite</mat-icon>
                    Update Item
                  </button>
                </div>
                <div class="button-container">
                  <button mat-fab extended (click)="removeFromMenu()">
                    <mat-icon>favorite</mat-icon>
                    Remove Item
                  </button>
                </div>
              </div>
            </div>
          </section>
    </mat-card-content>    
</mat-card>

<mat-card class="menu" appearance="outlined">    
    <mat-card-content>
        <section>            
            <div class="button-row">
              <div class="button-flex-container">
                <div class="button-container">
                  <button mat-fab extended>
                    <mat-icon>favorite</mat-icon>
                    New Item
                  </button>
                </div>
                <div class="button-container">
                  <button mat-fab extended >
                    <mat-icon>favorite</mat-icon>
                    Update Item
                  </button>
                </div>
                <div class="button-container">
                  <a mat-fab extended routerLink=".">
                    <mat-icon>favorite</mat-icon>
                    Remove Item
                  </a>
                </div>
              </div>
            </div>
          </section>
    </mat-card-content>    
</mat-card>


<mat-card class="menu" appearance="outlined">    
    <mat-card-content>
        <section>            
            <div class="button-row">
              <div class="button-flex-container">
                <div class="button-container">
                  <button mat-fab extended>
                    <mat-icon>favorite</mat-icon>
                    New Item
                  </button>
                </div>
                <div class="button-container">
                  <button mat-fab extended >
                    <mat-icon>favorite</mat-icon>
                    Update Item
                  </button>
                </div>
                <div class="button-container">
                  <a mat-fab extended routerLink=".">
                    <mat-icon>favorite</mat-icon>
                    Remove Item
                  </a>
                </div>
              </div>
            </div>
          </section>
    </mat-card-content>    
</mat-card>


<mat-card class="menu" appearance="outlined">    
    <mat-card-content>
        <section>            
            <div class="button-row">
              <div class="button-flex-container">
                <div class="button-container">
                  <button mat-fab extended>
                    <mat-icon>favorite</mat-icon>
                    New Item
                  </button>
                </div>
                <div class="button-container">
                  <button mat-fab extended >
                    <mat-icon>favorite</mat-icon>
                    Update Item
                  </button>
                </div>
                <div class="button-container">
                  <a mat-fab extended routerLink=".">
                    <mat-icon>favorite</mat-icon>
                    Remove Item
                  </a>
                </div>
              </div>
            </div>
          </section>
    </mat-card-content>    
</mat-card>

<mat-card class="menu" appearance="outlined">    
    <mat-card-content>
        <section>            
            <div class="button-row">
              <div class="button-flex-container">
                <div class="button-container">
                  <button mat-fab extended>
                    <mat-icon>favorite</mat-icon>
                    New Item
                  </button>
                </div>
                <div class="button-container">
                  <button mat-fab extended >
                    <mat-icon>favorite</mat-icon>
                    Update Item
                  </button>
                </div>
                <div class="button-container">
                  <a mat-fab extended routerLink=".">
                    <mat-icon>favorite</mat-icon>
                    Remove Item
                  </a>
                </div>
              </div>
            </div>
          </section>
    </mat-card-content>    
</mat-card>
