<mat-card class="menu-container" appearance="outlined">
    <mat-card-header class="menu-header">
        <mat-card-title>
            <mat-icon>menu</mat-icon> Menu Items
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <h2>Menu Services</h2>

        <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile>
                <button color="accent" mat-icon-button matTooltip="Add New Menu" (click)="addItem()">
                    <mat-icon>playlist_add</mat-icon>
                </button>
            </mat-grid-tile>

            <!-- Search Bar -->
            <mat-grid-tile>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Search Menu</mat-label>
                    <input matInput [(ngModel)]="searchQuery" (input)="applyFilter()" />

                    <button mat-icon-button *ngIf="searchQuery" matSuffix (click)="clearSearch()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <div class="loading-container mat-elevation-z8">
            @if (isLoading ) {
            <div class="loading-shade">
                @if (isLoading) {
                <mat-spinner></mat-spinner>
                }

            </div>
            }
        </div>

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Item Id</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="item">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Item Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.item }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.quantity }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.price | currency:'INR':'symbol':'1.0-2'
                    }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="imagePath">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Image Path</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.imagePath }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button color="primary" mat-icon-button matTooltip="Edit Menu" (click)="editItem(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button color="warn" mat-icon-button matTooltip="Delete Menu" (click)="deleteItem(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button color="accent" mat-icon-button matTooltip="View Item" (click)="viewItem(element)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef>
                    <!-- Error message container -->
                    <div *ngIf="isError" class="error-container">
                        <mat-icon color="warn">error</mat-icon>
                        <span>{{ errorMessage }}</span>
                    </div>
                </mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
            </mat-footer-row>
        </mat-table>

        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizes"></mat-paginator>

    </mat-card-content>
</mat-card>