<h2 mat-dialog-title>
    <span>Description</span>    
</h2>

<mat-dialog-content class="mat-typography">
    
    <!-- Image Container -->
    <div class="image-container">
        <img mat-card-image [src]="localImagePath" alt="{{ menu.item }}" 
             class="menu-image" />
    </div>
    
    <!-- Menu Item Details -->
    <div class="menu-details">
        <h3 class="menu-item-name">{{ menu.item }}</h3>
        <div class="menu-quantity-price">
            <span class="menu-quantity">Quantity: {{ menu.quantity }}</span>
            <span class="menu-price">Price: {{ menu.price | currency:'INR':'symbol':'1.0-2' }}</span>
        </div>
        <p class="menu-description">{{ menu.description }}</p>
    </div>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>
