.order-details-section,
.menu-details-section,
.tax-details-section,
.coupon-details-section {
    margin: 20px;

}

div[mat-dialog-content]{
    background: linear-gradient(to bottom left, #e3f2fd, #f5f5f5); // Gradient background
}

div[mat-dialog-actions]{
    background: linear-gradient(to bottom left, #e3f2fd, #f5f5f5); // Gradient background
}

mat-form-field {
    width: 80%;
}

.menu-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    transition: transform 0.5s;
}

.menu-card:hover {
    transform: scale(1.20);
}

.tax-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
    transition: transform 0.5s;
}

.tax-card:hover {
    transform: scale(1.20);
}

.coupon-card {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    transition: transform 0.5s;
}

.coupon-card:hover {
    transform: scale(1.20);
}