.menu-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: 250px;
}

@media (max-width: 600px) {
  mat-drawer {
    width: 200px;
  }
}
