<mat-toolbar class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>

    <span>
        <button routerLink="" mat-button>
            <mat-icon>dinner_dining</mat-icon> {{APPLICATION_NAME}}
        </button>
    </span>
    
    <span class="menu-spacer"></span>    

    <button mat-icon-button> 
        <mat-icon>search</mat-icon> 
    </button>

    <button *ngIf="!(isAuthenticated$ | async)" routerLink="login" matTooltip="Login" mat-icon-button> 
        <mat-icon>login</mat-icon> 
    </button>

    <button mat-icon-button [matMenuTriggerFor]="loginMenu" *ngIf="isAuthenticated$ | async"> 
        <mat-icon>person</mat-icon> 
        <mat-menu #loginMenu="matMenu">
            <button mat-menu-item routerLink="profile"><mat-icon>account_circle</mat-icon> Profile </button>
            <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Logout </button>
        </mat-menu>
    </button>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer opened="false" mode="side" position="start">

        <mat-nav-list *ngIf="isAuthenticated$">
            <!-- Admin menu items -->
            <mat-list-item>
                <button routerLink="order" mat-button><mat-icon>dashboard</mat-icon> Orders</button>
            </mat-list-item>   
            <mat-list-item>
                <button routerLink="menu" mat-button><mat-icon>menu_book</mat-icon> Menu Items</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="members" mat-button><mat-icon>groups</mat-icon> Members</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="tax" mat-button><mat-icon>corporate_fare</mat-icon> Tax & Services</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="coupon" mat-button><mat-icon>payments</mat-icon> Coupons</button>
            </mat-list-item>
            <!-- <mat-list-item>
                <button routerLink="settings" mat-button><mat-icon>settings</mat-icon> Settings</button>
            </mat-list-item>            
            <mat-list-item>
                <button mat-button><mat-icon>analytics</mat-icon> Analytics</button>
            </mat-list-item> -->
            <mat-list-item>
                <button routerLink="about" mat-button><mat-icon>contact_mail</mat-icon> About</button>
            </mat-list-item>
        </mat-nav-list>

    </mat-drawer>

    <mat-drawer-content>
        <div style="text-align: center; height: 85vh; min-height: 100%;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>

</mat-drawer-container>

