mat-dialog-content,
mat-dialog-actions {
    background: linear-gradient(to bottom right, #e3f2fd, #f5f5f5); // Gradient background
}

mat-dialog-content {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

h2[mat-dialog-title] {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 16px 0;
    color: #333;
    padding-right: 40px; 
}

.close-button {
    background-color: transparent;
    border: none;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}

.close-button:hover {
    color: #f44336; 
}