<h2 mat-dialog-title>
  Create New Menu
  <button mat-icon-button (click)="onClose()" style="float: right;">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content class="mat-typography">

  <form [formGroup]="form">

    <div formGroupName="menuItem">

      <mat-grid-list cols="2" rowHeight="120px">

        <mat-grid-tile>
          <mat-form-field hintLabel="Max 15 characters">
            <mat-label>Item Name</mat-label>
            <input formControlName="item" matInput maxlength="15" placeholder="Dosa, Idly, ........"
              (input)="onInput($event)" />
            <mat-hint align="end">{{ form.get('menuItem.item')?.value.length || 0 }}/15</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field floatLabel="always">
            <mat-label>Select Quantity</mat-label>
            <mat-select formControlName="quantity">
              <mat-option *ngFor="let quantity of quantities" [value]="quantity">{{ quantity }}</mat-option>
            </mat-select>
            <mat-hint align="end">Select Quantity From Above ^</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field floatLabel="always" hintLabel="Max 999.00 ">
            <mat-label>Amount</mat-label>
            <input formControlName="price" matInput type="number" placeholder="0" />
          </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile>
          <mat-form-field floatLabel="always">
            <mat-label>Item Image Path</mat-label>
            <input formControlName="imagePath" matInput placeholder="Your Image Path" />
            <mat-hint align="end">sample Path</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-form-field floatLabel="always" style="width: 95%;" hintLabel="Enter Item Description ">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Item Description..."></textarea>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
  <button mat-raised-button color="primary" (click)="addItem()" [disabled]="form.invalid">Add</button>
</mat-dialog-actions>