.order-container {
    margin: 20px;
    display: flex;
    flex-direction: column; // Stack items vertically
    height: 85vh; // Full viewport height
    padding: 16px; // Add some padding
    box-sizing: border-box; // Include padding in height/width calculations
    overflow-y: auto;
}


.order-header {
    display: flex;
    align-items: center;

    mat-card-title {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        gap: 15px
    }
}

.last-orders-section {
    margin: 20px;
    padding: 20px;
}

.order-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.order-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: start;
    height: 100%;
}

.last-five-actions button {
    margin: 5px;
}
.completed-status {
    font-weight: bolder;
    color: green;
}

.cancel-status {
    font-weight: bolder;
    color: red;
}