<mat-card class="order-container" appearance="outlined">

  <mat-card-header class="order-header">
    <mat-card-title> <mat-icon>view_comfy_alt</mat-icon> Orders </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="last-orders-section">
      <div>
        <h2>Last 5 Orders</h2>

        <div class="order-grid">

          <mat-card *ngFor="let order of lastFiveOrders " class="order-card">

            <mat-card-header> <mat-card-title>{{ order.id }}</mat-card-title> </mat-card-header>

            <mat-card-content>
              <p> <strong> Price : </strong> {{ order.totalPrice | currency:'INR':'symbol':'1.0-2' }} </p>
              <p> <strong> Order By : </strong> {{order.orderBy}} </p>
              <p> <strong> Order Status : </strong> {{order.orderStatus}} </p>
              <p> <strong> Order Date : </strong> {{order.orderDate | date: 'd MMM yyyy, h:mm a' }} </p>
              <div class="last-five-actions">
                <button color="primary" mat-icon-button matTooltip="View Order" (click)="viewOrderDialog(order)">
                  <mat-icon>open_in_new</mat-icon>
                </button>

                <button color="accent" *ngIf="order.orderStatus == 'COMPLETED'" mat-icon-button
                  matTooltip="Cancel Order" (click)="updateOrderDialog(order)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>

            </mat-card-content>

          </mat-card>

        </div>

      </div>

    </div>


    <mat-card class="all-orders-section" appearance="outlined">

      <mat-card-content>

        <h2>Order Services</h2>

        <mat-grid-list cols="3" rowHeight="100px">

          <!-- Search Bar -->
          <mat-grid-tile>

            <mat-form-field appearance="fill" style="width: 90%;">

              <mat-icon matPrefix>search</mat-icon>
              <mat-label>Search Orders</mat-label>

              <input matInput [(ngModel)]="searchQuery" (input)="applyFilter()" />

              <button mat-icon-button *ngIf="searchQuery" matSuffix (click)="clearSearch()">
                <mat-icon>clear</mat-icon>
              </button>

            </mat-form-field>

          </mat-grid-tile>

          <mat-grid-tile>

            <mat-form-field appearance="fill" style="width: 90%;">
              <mat-icon matPrefix>person_search</mat-icon>
              <mat-label>Order By</mat-label>
            
              <mat-select (selectionChange)="orderByFilter($event.value)" [(value)]="selectedOrderBy">
                <mat-option *ngIf="selectedOrderBy == null" [value]="null"></mat-option>
                <mat-option *ngFor="let orderBy of orderbyList" [value]="orderBy">{{ orderBy }}</mat-option>
              </mat-select>
              
              <button mat-icon-button matSuffix (click)="clearOrderBy()" *ngIf="selectedOrderBy != null">
                <mat-icon>clear</mat-icon>
              </button>
            </mat-form-field>

          </mat-grid-tile>

          <mat-grid-tile>

            <mat-form-field appearance="fill" style="width: 90%;">
              <mat-label>Order Date</mat-label>

              <input matInput [matDatepicker]="startPicker" [(ngModel)]="orderByDate"
                (dateChange)="onDateSelected($event)" />
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>

              <button mat-icon-button matSuffix (click)="clearOrderByDate()" *ngIf="orderByDate != null">
                <mat-icon>clear</mat-icon>
              </button>

            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>

        <div class="loading-container mat-elevation-z8">
          @if (isLoading ) {
          <div class="loading-shade">
            @if (isLoading) {
            <mat-spinner></mat-spinner>
            }

          </div>
          }
        </div>

        <!-- <button mat-button (click)="sortData()">Sort by Usage Count</button> -->
        <mat-card appearance="outlined">

          <mat-card-content class="order-table-continer">

            <mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Order Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="orderDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.orderDate | date: 'd MMM yyyy, h:mm a'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalPrice">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalPrice | currency:'INR':'symbol':'1.0-2' }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="orderBy">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Order By </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.orderBy}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="orderStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"
                  [ngClass]="{'completed-status': element.orderStatus === 'COMPLETED', 'cancel-status': !(element.orderStatus === 'COMPLETED')}">
                  {{ element.orderStatus }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>

                <mat-cell *matCellDef="let element">

                  <button color="primary" mat-icon-button matTooltip="View Order" (click)="viewOrderDialog(element)">
                    <mat-icon>open_in_new</mat-icon>
                  </button>

                  <button color="accent" mat-icon-button matTooltip="Cancel Order" (click)="updateOrderDialog(element)">
                    <mat-icon>cancel</mat-icon>
                  </button>

                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef>
                  <!-- Error message container -->
                  <div *ngIf="isError" class="error-container">
                    <mat-icon color="warn">error</mat-icon>
                    <span>{{ errorMessage }}</span>
                  </div>
                </mat-footer-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

              <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
              </mat-footer-row>
            </mat-table>

            <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizes"></mat-paginator>

          </mat-card-content>

        </mat-card>
      </mat-card-content>
    </mat-card>

  </mat-card-content>

</mat-card>