<h2 mat-dialog-title>
  User Details
  <button mat-icon-button (click)="close()" class="close-button" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content>
  <mat-card class="user-details-container" appearance="outlined">   

    <mat-card-content>
      
      <!-- User Details Grid -->
      <h3>User Details</h3>
      
      <div class="details-grid">
        <div>
          <strong>Username:</strong>
          <p>{{ user.customUser.username }}</p>
        </div>
        <div>
          <strong>First Name:</strong>
          <p>{{ user.customUserDetails.firstName }}</p>
        </div>
        <div>
          <strong>Middle Name:</strong>
          <p>{{ user.customUserDetails.middleName || 'N/A' }}</p>
        </div>
        <div>
          <strong>Last Name:</strong>
          <p>{{ user.customUserDetails.lastName }}</p>
        </div>
        <div>
          <strong>Email:</strong>
          <p>{{ user.customUserDetails.email }}</p>
        </div>
        <div>
          <strong>Phone:</strong>
          <p>{{ user.customUserDetails.phone || 'N/A' }}</p>
        </div>
        <div>
          <strong>Address:</strong>
          <p>{{ user.customUserDetails.address || 'N/A' }}</p>
        </div>
        <div>
          <strong>Security Number:</strong>
          <p>{{ user.customUserDetails.securityNumber || 'N/A' }}</p>
        </div>
        <div>
          <strong>Gender:</strong>
          <p>{{ user.customUserDetails.securityNumber || 'N/A' }} updated Soon</p>
        </div>
      </div>

      <!-- Account Status -->
      <h3>Account Status</h3>
      <div class="account-status-grid">
        <div>
          <mat-checkbox [(ngModel)]="user.customUser.accountNonExpired">Account Non Expired</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="user.customUser.accountNonLocked">Account Non Locked</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="user.customUser.credentialsNonExpired">Credentials Non Expired</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="user.customUser.enabled">Account Enabled</mat-checkbox>
        </div>
      </div>

      <!-- User Roles -->
      <h3>Roles</h3>      
      <mat-chip *ngFor="let role of getRoles()">{{ role }}</mat-chip>
      
    </mat-card-content>

    <!-- Action Buttons -->
    <mat-card-actions>
      <div class="remove" *ngIf="isRemove">
        <button mat-raised-button color="warn" (click)="remove()">Remove</button>
        <button mat-raised-button (click)="close()">Close</button>
      </div>

      <div class="open" *ngIf="!isRemove">
        <button mat-raised-button (click)="close()">Close</button>
      </div>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>