<mat-card class="user-details-container" appearance="outlined">
    <mat-card-header>
      <mat-card-title>User Details</mat-card-title>
      <button mat-icon-button (click)="close()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
  
    <mat-card-content>
      <div class="details-grid">
        <div>
          <strong>Username:</strong>
          <p>{{ user.customUser.username }}</p>
        </div>
        <div>
          <strong>First Name:</strong>
          <p>{{ user.customUserDetails.firstName }}</p>
        </div>
        <div>
          <strong>Middle Name:</strong>
          <p>{{ user.customUserDetails.middleName || 'N/A' }}</p>
        </div>
        <div>
          <strong>Last Name:</strong>
          <p>{{ user.customUserDetails.lastName }}</p>
        </div>
        <div>
          <strong>Email:</strong>
          <p>{{ user.customUserDetails.email }}</p>
        </div>
        <div>
          <strong>Phone:</strong>
          <p>{{ user.customUserDetails.phone || 'N/A' }}</p>
        </div>
        <div>
          <strong>Address:</strong>
          <p>{{ user.customUserDetails.address || 'N/A' }}</p>
        </div>
        <div>
          <strong>Security Number:</strong>
          <p>{{ user.customUserDetails.securityNumber || 'N/A' }}</p>
        </div>
      </div>
  
      <h3>Account Status</h3>
      <div class="account-status-grid">
        <div>
          <mat-checkbox [(ngModel)]="user.customUser.accountNonExpired">Account Non Expired</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="user.customUser.accountNonLocked">Account Non Locked</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="user.customUser.credentialsNonExpired">Credentials Non Expired</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="user.customUser.enabled">Account Enabled</mat-checkbox>
        </div>
      </div>
  
      <h3>Roles</h3>
      <p *ngFor="let role of getRoles()">{{ role }}</p>
    </mat-card-content>
  
    <mat-card-actions>
      
      <div class="remove" *ngIf="isRemove">
        <button mat-button color="warn" (click)="remove()">Remove</button>
        <button mat-button (click)="close()">Close</button>
      </div>

      <div class="open" *ngIf="!isRemove">
        <button mat-button (click)="close()">Close</button>
      </div>
      
    </mat-card-actions>
  </mat-card>
  