<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="assets/profile-pic.jpg" alt="Profile Picture" class="rounded-circle img-fluid mb-3" />
      <h2>Your Name</h2>
      <p>Your Bio goes here. Something interesting about you!</p>
      <div class="social-icons">
        <a href="#" class="text-decoration-none me-2">
          <span class="material-icons">facebook</span>
        </a>
        <a href="#" class="text-decoration-none me-2">
          <span class="material-icons">twitter</span>
        </a>
        <a href="#" class="text-decoration-none">
          <span class="material-icons">linkedin</span>
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="mb-4">Profile Details</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="material-icons me-2">email</span>
          d
        </li>
        <li class="list-group-item">
          <span class="material-icons me-2">phone</span>
          (123) 456-7890
        </li>
        <li class="list-group-item">
          <span class="material-icons me-2">location_on</span>
          Your Address
        </li>
        <li class="list-group-item">
          <span class="material-icons me-2">cake</span>
          January 1, 1990
        </li>
        <li class="list-group-item">
          <span class="material-icons me-2">web</span>
          www.yourwebsite.com
        </li>
      </ul>
      <button class="btn btn-primary mt-3">Edit Profile</button>
    </div>
  </div>
</div>
