<mat-card class="coupon-container" appearance="outlined">

  <mat-card-header class="coupon-header">
    <mat-card-title> <mat-icon>view_comfy_alt</mat-icon> Coupons </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="popular-section">
      <div>
        <h2>Popular Coupons</h2>

        <div class="coupon-grid">

          <button mat-raised-button *ngFor="let coupon of popularCoupons" class="coupon-card" (click)="onCardClick(coupon)">

            <mat-card-header>
    
              <mat-card-title>{{ coupon.couponName }}</mat-card-title> 
              
    
            </mat-card-header>
    
            <mat-card-content>
              <p>{{ coupon.description }}</p>
            </mat-card-content>
    
          </button>

        </div>

      </div>

    </div>


    <mat-card class="data-section" appearance="outlined">

      <mat-card-content>
        
        <h2>Coupons Services</h2>
        
        <mat-grid-list cols="3" rowHeight="100px">

          <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="newCouponDialog()">Add Coupon</button>
          </mat-grid-tile>

          <!-- Search Bar -->
          <mat-grid-tile>

            <mat-form-field appearance="fill" style="width: 100%;">

              <mat-icon matPrefix>search</mat-icon>
              <mat-label>Search Coupon</mat-label>

              <input matInput [(ngModel)]="searchQuery" (input)="applyFilter()" />

              <button mat-icon-button *ngIf="searchQuery" matSuffix (click)="clearSearch()">
                <mat-icon>clear</mat-icon>
              </button>

            </mat-form-field>

          </mat-grid-tile>

        </mat-grid-list>
        
        <mat-card appearance="outlined">

          <mat-card-content class="coupon-table-continer">

            <mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="couponName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.couponName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.amount | currency:'INR':'symbol':'1.0-2'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="percentage">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Percentage </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.percentage}}  %</mat-cell>
              </ng-container>

              <ng-container matColumnDef="minOrderAmount">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Min Order Amount </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.minOrderAmount | currency:'INR':'symbol':'1.0-2'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="maxDiscountAmount">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Max Discount </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.maxDiscountAmount | currency:'INR':'symbol':'1.0-2'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"
                  [ngClass]="{'active-status': element.status, 'expired-status': !element.status}">
                  {{ element.status ? 'Active' : 'Expired' }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>

                <mat-cell *matCellDef="let element">

                  <button color="primary" mat-icon-button matTooltip="Open Discount Coupon" (click)="viewCouponDialog(element)">
                    <mat-icon>open_in_new</mat-icon>
                  </button>

                  <button color="accent" mat-icon-button matTooltip="Edit Discount Coupon" (click)="updateCouponDialog(element)">
                    <mat-icon>create</mat-icon>
                  </button>

                  <button color="warn" mat-icon-button matTooltip="Delete Discount Coupon" (click)="deleteCouponDialog(element)">
                    <mat-icon>delete</mat-icon>
                  </button>

                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizes"></mat-paginator>

          </mat-card-content>

        </mat-card>
      </mat-card-content>
    </mat-card>

  </mat-card-content>

</mat-card>