<!-- <div class="home-section">
    <mat-grid-list cols="4" rowHeight="100px">
        @for (tile of tiles; track tile) {
          <mat-grid-tile
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">{{tile.text}}</mat-grid-tile>
        }
      </mat-grid-list>    
</div> -->

<!-- This is the section for displaying menu -->
<!-- TODO Add Responsive feature for this  -->
<!-- <div class="home-section">
  <mat-grid-list cols="3" rowHeight="1:1">
    @for (item of menuItems; track item) {
    <mat-grid-tile>
      <mat-card class="menu-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="menu-image"></div>
          <mat-card-title>{{item.item}}</mat-card-title>
          <mat-card-subtitle><b> Price : {{item.price}} Qty : {{item.qty}} </b> </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{item.itemPngPath}} alt={{item.itemPngPath}}>
        <mat-card-content>
          <p>sample description</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="addItem(item)">Add</button>
          <button mat-button>Remove</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    }
    <mat-grid-tile>
      dwsdiskdj
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
<!-- 
<mat-grid-list cols="4" rowHeight="100px">
  @for (item of menuItems; track item) {
  <mat-grid-tile [colspan]="3" id="menu-section">
    <mat-card class="menu-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="menu-image"></div>
        <mat-card-title>{{item.item}}</mat-card-title>
        <mat-card-subtitle><b> Price : {{item.price}} Qty : {{item.qty}} </b> </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{item.itemPngPath}} alt={{item.itemPngPath}}>
      <mat-card-content>
        <p>sample description</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="addItem(item)">Add</button>
        <button mat-button>Remove</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  }
  <mat-grid-tile [colspan]="1">
    <mat-card class="menu-card" appearance="outlined">
      <mat-card-content>
        <p>sample description</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->


<mat-grid-list cols="6">
  <mat-grid-tile [colspan]="4" id="menu-section">
    @for (item of menuItems; track item) {
    <mat-card class="menu-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="menu-image"></div>
        <mat-card-title>{{item.item}}</mat-card-title>
        <mat-card-subtitle><b> Price : {{item.price}} Qty : {{item.qty}} </b> </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{item.itemPngPath}} alt={{item.itemPngPath}}>
      <mat-card-content>
        <p>sample description</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="addItem(item)">Add</button>
        <button mat-button>Remove</button>
      </mat-card-actions>
    </mat-card>
    }
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" id="ordered-section">
    <mat-card class="ordered-card" appearance="outlined">
      <mat-card-content>
        @for (order of orderedMenu; track order) {
        <span><strong>{{order.item}}</strong></span>
        }
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
          <!-- Position Column -->
          <ng-container matColumnDef="demo-position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="demo-name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
  
          <!-- Weight Column -->
          <ng-container matColumnDef="demo-weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="demo-symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>