<mat-card class="full-viewport">
  <h1>Welcome to My Restaurant App</h1>
  <p>Your journey to having and restarting begins here!</p>

  <mat-card-content>
    <div class="marquee">
      <div class="marquee-content">
        <a *ngFor="let image of images" [href]="image.link" class="marquee-image-wrapper">
          <img [src]="image.src" [alt]="image.alt" class="marquee-image" />
        </a>
      </div>
    </div>
  </mat-card-content>
  
  <div class="order-button">
    <button mat-raised-button color="primary" routerLink="/new-order">Order Now</button>
  </div>
</mat-card>
