.container {
  display: flex;
  justify-content: space-between;  
  gap: 20px;
}

h2 {
  text-align: center;
}

.food-list {
  width: 100%;
  transition: width 0.5s ease;
}

mat-form-field {
  display: block;
}

.full-width {
  width: 100%;
}

.selected-items {
  width: 30%;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  transition: width 0.5s ease;
}

/* Scrollable food list */
.food-list-scrollable {
  max-height: 80vh; /* Adjust the height as needed */
  overflow-y: auto;
  padding-right: 10px; /* For some spacing between scrollbar and content */
}

.food-list-scrollable::-webkit-scrollbar {
  width: 6px;
}

.food-list-scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.example-card {
  max-width: 200px;
  max-height: 200px;
}


/* Scrollable selected items list */
.selected-items-scrollable {
  max-height: 65vh; /* Adjust height for the selected items section */
  overflow-y: auto;
  margin-bottom: 10px;
}

.selected-items-scrollable::-webkit-scrollbar {
  width: 6px;
}

.selected-items-scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#total-section {
text-align: end;

}

button {
  margin: 10px;
  padding: auto;

}
