.full-viewport {
  height: 80vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between elements */
  align-items: center;
  overflow-x: hidden; /* Prevent scrollbars */
}

.marquee {
  overflow: hidden; /* Hide overflow to prevent scrollbar */
  white-space: nowrap; /* Prevent line breaks */
  width: 100%; /* Full width */
}

.marquee-content {
  display: inline-block;
  animation: scroll 10s linear infinite; /* Adjust speed as needed */
  position: relative; /* Allows positioning */
  left: 50%; /* Start the marquee in the middle */
  transform: translateX(-50%); /* Center the first image */
}

.marquee-image {
  height: 400px; /* Set a fixed height for images */
  width: auto; /* Maintain aspect ratio */
  margin: 0 10px; /* Space between images */
  border-radius: 15px; /* Rounded edges */
  transition: transform 0.3s; /* Smooth hover effect */
}

.marquee-image:hover {
  transform: scale(1.30); /* Slightly scale up on hover */
}

/* Keyframes for scrolling effect */
@keyframes scroll {
  0% {
    transform: translateX(0); /* Start from the center */
  }
  100% {
    transform: translateX(-100%); /* End off-screen left */
  }
}

.order-button {
  margin: 20px; /* Space around the button */
}
