<h2 mat-dialog-title>Do you want remove the Item  ?</h2>
<mat-dialog-content class="dialog-content">
  <button mat-icon-button class="close-button" (click)="onCancel()" aria-label="Close">
      <mat-icon>close</mat-icon>
  </button>
  <div class="item-details">
      <h3 class="item-title">{{ data.item }}</h3>
      <p><strong>ID:</strong> {{ data.id }}</p>
      <p><strong>Quantity:</strong> {{ data.qty !== null ? data.qty : 'N/A' }}</p>
      <p><strong>Price:</strong> {{ data.price | currency }}</p>
      <img *ngIf="data.itemPngPath" [src]="data.itemPngPath" alt="{{ data.item }}" class="item-image" />
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onRemove()" aria-label="Remove item">Remove</button>
  <button mat-button (click)="onCancel()" aria-label="Cancel">Cancel</button>
</mat-dialog-actions>
